@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "Merchant Rail Id Allocation List";
    Layout = "~/Areas/Distributor/Views/Shared/_LayoutDistributor.cshtml";
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="full-content margin-top-20">
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-12 row headcolor">
                    <div class="col-md-4" style="text-align:left; padding-top:3px;"><i class="fa fa-list fa-3x"></i></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align:right; padding-top:10px;">
                        <h3>
                            Sell Rail ID List of Merchant
                        </h3>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-heading text-right">

                            <div class="card-title ">
                                <div class="row">
                                    <div class="text-left col-md-6 col-lg-4">

                                    </div>
                                    <div class="text-left col-md-6 col-lg-4">
                                        <h5>Available Rail Id Quantity: <span style="color:green">@ViewBag.RailIDQty</span> </h5>
                                    </div>
                                    <div class="text-right col-md-6 col-lg-4">
                                        <a href="@Url.Action("Index", "DistributorRailIdAllocation",new { area = "Distributor" })" class="btn btn-info btn-xs text-color-white"><span class="ion-plus"></span>Sell Rail ID To Merchant</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div><!--.panel-heading-->
                        <div class="panel-body">
                            <div class="row example-row" style="width:100%">
                                @Html.AjaxGrid(Url.Action("IndexGrid", "DistributorRailIdAllocation", new { area = "Distributor" }))
                            </div><!--.row-->
                        </div><!--.panel-body-->

                    </div><!--.panel-->
                </div>
            </div><!--.col-md-12-->
        </div><!--.row-->
    </div>
}

