@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model IEnumerable<WHITELABEL.Data.Models.TBL_RESCHEDULE_BOOKED_TICKET_DETAILS>
@{
    ViewBag.Title = "IndexGrid";
    Layout = null;
}


@(Html
                                    .Grid(Model)
                                    .Build(columns =>
                                    {
                                        columns.Add(model => model.Serial_No).Titled("Sln").Filterable(true).Sortable(true);
                                        columns.Add(model => model.FLIGHT_NO).Titled("Flight No").Filterable(true).Sortable(true);
                                        columns.Add(model => model.PNR).Titled("PNR").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TICKET_NO).Titled("Ticket No").Filterable(true).Sortable(true);
                                        columns.Add(model => model.FROM_AIRPORT).Titled("Trip Type").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TO_AIRPORT).Titled("Passanger").Filterable(true).Sortable(true);
                                        columns.Add(model => model.MAIN_CLASS).Titled("Seat Class").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TOTAL_FLIGHT_AMT).Titled("Booking Amount").Filterable(true).Sortable(true);
                                        columns.Add(model => model.BOOKING_DATE).Titled("Booking Date").Filterable(true).Sortable(true);
                                        columns.Add(model => model.RESCHEDULE_REMARK).Titled("Reschedule Remark").Filterable(true).Sortable(true);
                                        columns.Add(model => model.RESCHEDULE_DATE).Titled("Reschedule Date").Filterable(true).Sortable(true);
                                        columns.Add(model => model.RESCHEDULE_REPLY).Titled("Reschedule Admin Msg").Filterable(true).Sortable(true);
                                        columns.Add(model => model.SLN).Titled("Reschedule Msg Reply").Encoded(false).Filterable(false).Sortable(false)
                     .RenderedAs(model => "<a class='btn btn-primary btn-xs' style='color:white;' data-toggle='modal' data-target='.FlightReschedule' id='ProcessFlightReschedule' data-id='" + model.SLN + "' onclick='FetchFlightFlightReschedule(" + model.SLN + ");'>Reply On Reschedule</a>");
                                    })
                                    .Css("css-classes")
                                    .AppendCss("table table-striped")
                                    .Empty("No data found")
                                    .Id("my-ajax-grid")
                                    .Pageable(pager =>
                                    {
                                        pager.PagesToDisplay = 5;
                                        pager.RowsPerPage = 5;
                                    })
                                    .Filterable()
                                    .Sortable()
)

<style>
    .RowColorchange {
        background-color: sandybrown;
    }
</style>

