@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model IEnumerable<WHITELABEL.Data.Models.TBL_FINAL_CANCELLATION>
@{
    ViewBag.Title = "MerchantPNRCancellationgrid";
    Layout = null;
}


@(Html
                                    .Grid(Model)
                                    .Build(columns =>
                                    {
                                        columns.Add(model => model.SLN).Titled("Sln");
                                        columns.Add(model => model.CANCELLATION_ID).Titled("Cancellation Id");
                                        columns.Add(model => model.TRN_ID).Titled("Tran Id");
                                        columns.Add(model => model.PNR_NO).Titled("Pnr No");
                                        columns.Add(model => model.OPR_ID).Titled("Opr ID");
                                        columns.Add(model => model.REFUND_AMT).Titled("Refund Amount");
                                        columns.Add(model => model.TRN_DATE).Titled("Trans Date").Formatted("{0:MM/dd/yyyy}").MultiFilterable(true);
                                        columns.Add(model => model.TRN_DATE).Titled("Trans Time").Formatted("{0:T}").MultiFilterable(false).Sortable(false);
                                        columns.Add(model => model.TDR_CAN).Titled("TDR Can");
                                    })
                                     .Css("css-classes")
                                    .AppendCss("table table-striped")
                                    .Empty("No data found")
                                    .Id("my-ajax-grid")
                                    .Pageable(pager =>
                                    {
                                        pager.PagesToDisplay = 15;
                                        pager.RowsPerPage = 15;
                                    })
                                    .Filterable()
                                    .Sortable()

)
<table class="divFooterTotalComm" style="width:100%">
    <tr>
        <td style="width:25%;">Total Refund Amount:- <b>@Model.Sum(z => z.REFUND_AMT)</b></td>
        <td></td>
    </tr>
</table>

