@using NonFactors.Mvc.Grid;
@model WHITELABEL.Data.Models.TBL_FLIGHT_BOOKING_DETAILS
@{
    ViewBag.Title = "Booked Flight Informaiton";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/app.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/FlightServices.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/FlightInvoicePrint.js"></script>

    <div class="row" ng-app="AirportAutocompleteoduleApp" ng-controller="FlightBookingInvoicePrintController" ng-init="GetBookedFlightInvoice()">
        <div class="col-md-12 padding-top-20">
            <div class="col-md-12 row headcolor">
                <div class="col-md-4" style="text-align:left; padding-top:3px;"></div>
                <div class="col-md-4" style="text-align:center;"><b>Booked Flight Information</b></div>
                <div class="col-md-4" style="text-align:right; padding-top:10px;">                    
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="panel-heading text-right">
                    </div>
                    <div class="panel-body">
                        <div class="row example-row">
                            <div class="mvc-grid">
                                <table border="1" id="testTable">
                                    <thead class="mvc-grid-headers ">
                                        <tr>
                                           <td>Sln</td>
                                            <td>PNR</td>
                                            <td>ref No</td>
                                            <td>Airline code</td>
                                            <td>Flight No</td>
                                            <td>Booking date</td>
                                            <td>Base fare</td>
                                            <td>Tax fare</td>
                                            <td>Addn Charges </td>
                                            <td>Cute Fee </td>
                                            <td>Total Amount </td>
                                            <td>Baggage </td>
                                            <td>Hold</td>
                                            <td>Cancel ticket</td>
                                            <td>Print </td>

                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="m in GetTicketList">
                                        <tr>
                                            <td>
                                                <span>{{m.SLN}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.PNR}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.REF_NO}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.AIRLINE_CODE}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.FLIGHT_NO}}</span>
                                            </td>
                                            <td>
                                                <span>{{getAirDate(m.BOOKING_DATE) | date:"dd/MM/yyyy"}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.TOTAL_FLIGHT_BASE_FARE}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.TOTAL_FLIGHT_TAX}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.TOTAL_FLIGHT_ADDITIONAL_CHARGE}}</span>
                                            </td>
                                            <td>
                                                <span>{{m.TOTAL_FLIGHT_CUTE_FEE}}</span>
                                            </td>
                                            <td><span>{{m.TOTAL_FLIGHT_AMT}}</span></td>
                                            <td><span>{{m.TOTAL_BAGGAGE_ALLOWES}}</span></td>
                                           <td><a class='btn btn-warning btn-xs' style="color:white;">Hold Ticket</a></td>
                                            <td><a class='btn btn-danger btn-xs' style="color:white;">Cancel Ticket</a></td>
                                            <td>
                                                <a class='btn btn-primary btn-xs' style="color:white;" data-toggle="modal" data-target="#exampleModalCenter" id='PrinttransactionvalueAdminid' data-id="{{m.REF_NO}}" ng-click="PrintInvoice(m.REF_NO)">print Ticket</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>

                                <div style="text-align:center">
                                    <dir-pagination-controls max-size="3"
                                                             direction-links="true"
                                                             boundary-links="true">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        @*<div class="row example-row" style="width:100%">
                            @Html.AjaxGrid(Url.Action("BookedFlightgridList", "MerchantFlightDetails", new { area = "Merchant" }))
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

      


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Print Invoice</h5>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*<div class="main-content-wrap sidenav-open d-flex flex-column">*@
                        <div class="sidenav-open d-flex flex-column">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="tab-pane fade show active" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                                            <div class="d-sm-flex mb-5" data-view="print">
                                                <span class="m-auto"></span>
                                                <a href="#" class="btn btn-primary mb-sm-0 mb-3 print-invoice" onclick="PrintDiv();">Print Invoice</a>
                                            </div>
                                            <!---===== Print Area =======-->
                                            <div id="print-area">
                                                <div ng-repeat="objprint in FlightInvoicePrint">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <img ng-src="~/Content/static-airlines-master/logos/{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].FlightFareDetails[0].AirlineCode}}.png" />
                                                            <h4 class="font-weight-bold">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].FlightFareDetails[0].AirlineName}}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row col-md-12" style="margin-top:20px;">
                                                        <div class="col-md-3">
                                                            <h5>
                                                                PNR/Booking Reference
                                                            </h5>
                                                            <p>
                                                                {{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].RefNo}}/{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].FlightFareDetails[0].AirlinePNRNumber}}
                                                            </p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5>
                                                                {{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].Status}}

                                                            </h5>
                                                            <p>
                                                                confirm
                                                            </p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5>
                                                                Date of Booking*

                                                            </h5>
                                                            <p>                                                                
                                                                @*{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].BookingDateTime}}*@
                                                                {{getAirDate(FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].BookingDateTime) |date : 'EEEE, dd MMM yyyy'}}
                                                            </p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5>
                                                                Payment Status
                                                            </h5>
                                                            <p>
                                                                Complete
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row col-md-12" style="margin-top:20px;">
                                                        <h1>IndiGo Passengers</h1>
                                                    </div>
                                                    <div class="row col-md-12" style="margin-top:20px;" ng-repeat="objpssng in FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].PassengerDetails">
                                                        <p class="col-md-12">Passenger {{$index +1}}</p>
                                                        <h5 class="col-md-12">1) {{objpssng.Title}} {{objpssng.FirstName}} {{objpssng.LastName}}</h5>
                                                    </div>
                                                    <div ng-repeat="objpssng in FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].FlightFareDetails">
                                                        <div class="row col-md-12" style="margin-top:20px;">
                                                            <h1 class="col-md-12">{{objpssng.FromAirportName}} <i class="fa fa-long-arrow-alt-right"></i> {{objpssng.ToAirportName}}</h1>
                                                            <p class="col-md-12">{{getAirDate(objpssng.DepartureDate)|date : 'EEEE, dd MMM yyyy'}} . {{objpssng.AirlineCode}} {{objpssng.FlightNo}}</p>
                                                        </div>
                                                        <div class="row col-md-12" style="margin-top:20px;">
                                                            <div class="row col-md-6">
                                                                <div class="col-md-12"><p>From (Terminal)</p></div>
                                                                <div class="col-md-12"><h5>{{objpssng.FromAirportCode}}</h5></div>
                                                            </div>
                                                            <div class="row col-md-6">
                                                                <div class="col-md-12"><p>To (Terminal)</p></div>
                                                                <div class="col-md-12"><h5>{{objpssng.ToAirportCode}} (1)</h5></div>
                                                            </div>
                                                            <div class="row col-md-6">
                                                                <div class="col-md-12"><p>Flight</p></div>
                                                                <div class="col-md-12"><h5>{{objpssng.AirlineCode}} {{objpssng.FlightNo}}</h5></div>
                                                            </div>
                                                            <div class="row col-md-6">
                                                                <div class="col-md-12"><p>Dep Time</p></div>
                                                                <div class="col-md-12"><h5>{{objpssng.DepartureTime}} </h5></div>
                                                            </div>
                                                            <div class="row col-md-6">
                                                                <div class="col-md-12"><p>Check in/ Bag Drop closes</p></div>
                                                                <div class="col-md-12"><h5>{{objpssng.AdultCheckedIn}} </h5></div>
                                                            </div>
                                                            <div class="row col-md-6">
                                                                <div class="col-md-12"><p>ARR Time</p></div>
                                                                <div class="col-md-12"><h5>{{objpssng.ArriveTime}}</h5></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" style=" height:3px; background-color:#ccc; margin:10px 0;"></div>
                                                    <div class=" row col-md-12">
                                                        <p class="col-md-12">* Booking Date reects in UTC ( Coordinated Universal Time), all other timings mentioned are as per local TIME</p>

                                                        <h1 class="col-md-12">
                                                            GST Information
                                                        </h1>
                                                        <p class="col-md-12">GST Company Name : <strong>ENCOREDIGITECHPVTLTD</strong></p>
                                                        <p class="col-md-12">GST Number :<strong>19AACCT7467P1ZE</strong></p>
                                                    </div>
                                                    <div class="row col-md-12">
                                                        <div class="col-md-6">
                                                            <div class="col-md-12"><h1>Price Summary</h1></div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">Airfare Charges </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalBaseFare}} INR</div>
                                                            </div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">Tax Fee </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalTax}}INR</div>
                                                            </div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">Passenger Service Fee </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalPassengerTax}}INR</div>
                                                            </div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">Additional Charges </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalAdditionalCharges}} INR</div>
                                                            </div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">Cute Fee </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalCuteFee}} INR</div>
                                                            </div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">CGST For West Bengal  </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalSuppCGST}} INR</div>
                                                            </div>
                                                            <div class="row col-md-12">
                                                                <div class="col-md-8" style="text-align:left;">SGST For West Bengal </div>
                                                                <div class="col-md-4" style="text-align:right;">{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalSuppSGST}} INR</div>
                                                            </div>
                                                            <div class="row col-md-12" style="border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:20px 0; margin-top:10px;">
                                                                <div class="col-md-8" style="text-align:left;"><strong>Total</strong> </div>
                                                                <div class="col-md-4" style="text-align:right;"><strong>{{FlightInvoicePrint.PNRDetailsResponse.TicketDetails[0].TotalAmount}} INR</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <h1>
                                                                    Contact Details
                                                                </h1>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <p class="col-md-12">
                                                                    Address
                                                                </p>
                                                                <h5 class="col-md-12">
                                                                    MR TRAVEL AGENT Encore Digitech Private Limited 3 , Canal
                                                                    Street L okenath Apartment 1st Floor Kolkata - 700014 enco CCU
                                                                </h5>
                                                                <p class="col-md-12">
                                                                    Company Name
                                                                </p>
                                                                <h5 class="col-md-12">
                                                                    Encore Digitech Private Limited
                                                                </h5>
                                                                <p class="col-md-12">
                                                                    Passenger Mobile number
                                                                </p>
                                                                <h5 class="col-md-12">
                                                                    91-8240148377
                                                                </h5>
                                                                <p class="col-md-12">
                                                                    Email id
                                                                </p>
                                                                <h5 class="col-md-12">
                                                                    edpl.chaitali.air@gmail.com
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row col-md-12">
                                                        <h1 class="col-md-12" style="padding:20px 0; border-bottom:1px solid #ccc;">Note</h1>
                                                        <p class="col-md-12">
                                                            Goods and Services Tax (GST) shall be levied at applicable rates on all air transportation services provided by IndiGo, except in
                                                            cases specically exempted under law.
                                                        </p>
                                                        <p class="col-md-12">
                                                            This is not a GST invoice. The GST invoice shall be sent to the email address in the name of the rst passenger, mentioned in this
                                                            itinerary. In case of a booking made by a GSTIN holder, the GST invoice shall be sent in the name of the GSTIN holder to the
                                                            email address mentioned while providing the GSTIN information at the time of reservation.
                                                        </p>
                                                        <p class="col-md-12">
                                                            Additionally, passengers may download the GST invoice using their PNR number on the IndiGo website www.goindigo.in.
                                                        </p>
                                                        <p class="col-md-12">
                                                            GST shall also be applicable on any special services requested by the passenger at applicable rates.
                                                    </div>
                                                </div>
                                            </div>
                                            <!--==== / Print Area =====-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Footer Start -->
                            <div class="flex-grow-1"></div>
                            <!-- fotter end -->
                        </div>

                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>


    </div>







<script>
    //function PrintDiv() {
    //    var divContents = document.getElementById("print-area").innerHTML;
    //    var printWindow = window.open('', '', 'height=1000,width=900');
    //    printWindow.document.write('<html><head><title>Recharge Invoice Print</title>');
    //    printWindow.document.write('</head><body>');
    //    printWindow.document.write(divContents);
    //    printWindow.document.write('</body></html>');
    //    printWindow.document.close();
    //    printWindow.print();
    //}
    function PrintDiv() {
        var divToPrint = document.getElementById("print-area");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

    //$('button').on('click', function () {
    //    printData();
    //})
</script>