
@{
    ViewBag.Title = "FlightComingSoon";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}

<div style="text-align:center; margin-top:100px;">
    <h2>Coming Soon</h2>
</div>


