
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/app.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/AirportAutocomplete.js"></script>
<div class="content" style="margin-top:20px;">
    <div class="display-animation" ng-app="AirportAutocompleteoduleApp" ng-controller="AirportAutocompleteController" id="AirportAutocompleteController">
        <div class="full-content margin-bottom-40 bg-white" id="Bill_page">
            <form role="form" ng-submit="SerachFlights()" ng-show="formdisplay">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto">
                                        <div class="btn-group">
                                            <label class="btn btn-primary active" style="width:180px" ng-model="Airport.Tripmode" uib-btn-radio="1" uncheckable>One Way</label>
                                            <label class="btn btn-primary" style="width:180px" ng-model="Airport.Tripmode" uib-btn-radio="2" uncheckable>Round Trip</label>
                                            <label class="btn btn-primary" style="width:180px" ng-disabled="true" ng-model="Airport.Tripmode" uib-btn-radio="'3'" uncheckable>Multi City</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-4 ">
                                        <div class="form-group">
                                            <label>From</label>
                                            <div angucomplete-alt id="txtAutocomplete" placeholder="Type airport name" pause="100"
                                                 selected-object="SelectedAirport" local-data="Airports" search-fields="CITYNAME" ng-model="Airport.AirportsName"
                                                 title-field="CITYNAME" minlength="3" input-class="form-control" match-class="highlight">
                                            </div>
                                            <input type="hidden" id="AirportCode" ng-model="SelectedAirport.CITYCODE" />
                                            <div ng-hide="SelectedAirport" ng-cloak>
                                                {{SelectedAirport.CITYCODE}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>To</label>
                                            <div angucomplete-alt id="txtTOAutocomplete" placeholder="Type airport name" pause="100"
                                                 selected-object="ToAirportName" local-data="Airports" search-fields="CITYNAME" ng-model="Airport.ToAirportsName"
                                                 title-field="CITYNAME" minlength="3" input-class="form-control" match-class="highlight">
                                            </div>
                                            <div ng-hide="ToAirportName" ng-cloak>
                                                {{ToAirportName.CITYCODE}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-4 ">
                                        <div class="form-group">
                                            <label>Departing</label>
                                            <input type="text" name="FromDate" id="datepickerFromDate" class="form-control fromdateVal" placeholder="From Date" ng-model="FromDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Return</label>
                                            <input type="text" name="ToDate" id="datepickerToDate" class="form-control ToDateVal" placeholder="To Date" ng-change="setToDate()" ng-model="ToDate" ng-disabled="Airport.Tripmode==1" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Adults</label>
                                            <select id="ddlTravalAdultType" style="width:100%" class="form-control" ng-model="adultTypeTrv">
                                                <option selected value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Children</label>
                                            <select id="ddlTravalChildType" style="width:100%" class="form-control" ng-model="ChildTypeTrv">
                                                <option value="">Number of Child</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Infants</label>
                                            <select id="ddlTravalInfantType" style="width:100%" class="form-control" ng-model="InfantTypeTrv">
                                                <option value="">Number of Infant</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Class</label>
                                            <select id="ddlTravalType" style="width:100%" class="form-control" ng-model="TravellType">
                                                <option value="Y">Economy</option>
                                                <option value="C">Business</option>
                                                <option value="W">Premium Economy</option>
                                                <option value="F">First Class</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-8 text-center">
                                        @*<button type="submit" class="btn btn-danger btn-lg">Search Flight</button>*@
                                        <button type="submit" class="btn btn-danger btn-lg"  ng-disabled="!SelectedAirport.CITYCODE
                                                        || !ToAirportName.CITYCODE
                                                        || (Airport.Tripmode == '2' && !ToDate)
                                                        || !FromDate">Search Flight</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
              

                </div>



                
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script>
  

    jQuery.noConflict();
    $(document).ready(function () {
        (function ($) {            
            $('.fromdateVal').datepicker({
                startDate: new Date(),
                //dateFormat: "yy-mm-dd",
                //format: 'yyyy-MM-dd',
                dateFormat: "yy-mm-dd",
                uiLibrary: 'bootstrap4',
                minDate: 0,
                autoclose: true
            }).on('changeDate', function (e) {
                debugger;
                $('.ToDateVal').val('');
                var minDate = new Date(e.date);
                $('.ToDateVal').datepicker('remove');                
                $('.ToDateVal').datepicker({                    
                    format: 'yyyy-MM-dd',                    
                    //dateFormat: "yy-mm-dd",
                    //format: 'yyyy-MM-dd',
                    autoclose: true,
                    startDate: minDate
                });
            });
            $('.ToDateVal').datepicker({
                //startDate: new Date(),
                dateFormat: "yy-mm-dd",
                uiLibrary: 'bootstrap4',
                minDate: 0,
                autoclose: true
            });
        })(jQuery);
        jQuery.noConflict();
        (function ($) {
            //$('.MulticityDate').datepicker({
            //    startDate: new Date(),
            //    format: 'dd M, D',
            //    autoclose: true
            //});
        })(jQuery);
    });


   
</script>

