
@{
    ViewBag.Title = "EasepaySuccess";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}

<h2>@ViewBag.messagevalue</h2><br />
<h2>@ViewBag.TXnStatus</h2><br />
<h2>@ViewBag.txnid</h2><br />
<h2>@ViewBag.txnAmt</h2><br />
